<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Course Information</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/morris.css" type="text/css" />
<!-- Graph CSS -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- //jQuery -->
<!-- tables -->
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#table').basictable();

		$('#table-breakpoint').basictable({
			breakpoint : 768
		});

		$('#table-swap-axis').basictable({
			swapAxis : true
		});

		$('#table-force-off').basictable({
			forceResponsive : false
		});

		$('#table-no-resize').basictable({
			noResize : true
		});

		$('#table-two-axis').basictable();

		$('#table-max-height').basictable({
			tableWrapper : true
		});
	});
</script>
<!-- //tables -->
<link
	href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400'
	rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script type="text/javascript">
	function list() {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if (xhr.readyState == 4) {
				if (xhr.status >= 200 && xhr.status < 300) {

					var data = JSON.parse(xhr.responseText)
					var len = data.length;
					var table = document.getElementById("c-table");

					for (var i = 0; i < len; i++) {
						var tr = table.insertRow();
						var td1 = tr.insertCell();
						var td2 = tr.insertCell();
						var td3 = tr.insertCell();
						var td4 = tr.insertCell();
						var td5 = tr.insertCell();
						var td6 = tr.insertCell();
						
						td1.innerHTML = data[i].id;
						td2.innerHTML = data[i].courseName;
						td3.innerHTML = data[i].grade;
						td4.innerHTML = data[i].institude;
						td5.innerHTML = data[i].credit;
						
						
						var tempId = data[i].id;
						
						//td6.innerHTML = "<a href='http://114.115.155.183:8080/delete?id=" + tempId + "'>delete</a> ";
						td6.innerHTML = "<button class='btn btn-primary' onclick='decourse(" + tempId + ")'>delete</button>";
						
						
					}
				} else {
					alert(xhr.status);
					alert(xhr.readyState);
					alert("连接服务器失败");
				}
			}
		}
		xhr.open("get", "http://114.115.155.183:8080/checkcourse", true);
		xhr.send();
	}
	
	function decourse(courseId){
		var xhra = new XMLHttpRequest();
		xhra.onreadystatechange = function(){
			if(xhra.readyState == 4){
				if (xhra.status >=200 && xhra.status < 300) {
					//alert(xhra.responseText);
					alert("删除课程成功");
					location.reload();
				}
				else {
					alert(xhra.status);
					alert(xhra.readyState);
					alert("连接服务器失败");
				}
			}
		}
		xhra.open("post","http://114.115.155.183:8080/delete",true);
		//var form = document.getElementById("user-info-register");
		xhra.setRequestHeader("Content-Type","application/x-www-form-urlencoded;charset=UTF-8");
		//var sendata = courseId.toString();
		xhra.send("id=" + courseId);
	}

	
</script>


</head>
<body>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="logo-w3-agile">
						<h1>
							<a href="index">Home</a>
						</h1>
					</div>

					<div class="clearfix"></div>
				</div>
				<!--heder end here-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index">Home</a> <i
						class="fa fa-angle-right"> </i>Course</li>
				</ol>
				<div class="agile-grids">
					<!-- tables -->

					<div class="agile-tables">
						<div class="w3l-table-info">
							<h2>Course Information</h2>
							<table id="table">

								<thead>
									<tr>
										<th>Course Id</th>
										<th>Course Name</th>
										<th>Grades</th>
										<th>Institude</th>
										<th>Credit</th>
										<th>Delete</th>
									</tr>
								</thead>

								<tbody id="c-table">

								</tbody>
							</table>
							<button id="getAllCustomerId" type="button"
								class="btn btn-primary" onclick="list()">Get Courses</button>
						</div>
					</div>
					<!-- //tables -->
				</div>
				<!-- script-for sticky-nav -->
				<script>
					$(document).ready(function() {
						var navoffeset = $(".header-main").offset().top;
						$(window).scroll(function() {
							var scrollpos = $(window).scrollTop();
							if (scrollpos >= navoffeset) {
								$(".header-main").addClass("fixed");
							} else {
								$(".header-main").removeClass("fixed");
							}
						});

					});
				</script>
				<!-- /script-for sticky-nav -->
				<!--inner block start here-->
				<div class="inner-block"></div>
				<!--inner block end here-->

			</div>
		</div>
		<!--//content-inner-->
		<!--/sidebar-menu-->
		<div class="sidebar-menu">
			<header class="logo1">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
				</a>
			</header>
			<div style="border-top: 1px ridge rgba(255, 255, 255, 0.15)"></div>
			<div class="menu">
				<ul id="menu">

					<li><a href="index"> <i class="fa fa-picture-o"
							aria-hidden="true"></i> <span>Home</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="list"> <i class="fa fa-table"></i> <span>Users</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="teacher"> <i class="fa fa-table"></i> <span>Teachers</span>
							<div class="clearfix"></div>
					</a></li>


					<li><a href="listAll"> <i class="fa fa-table"></i> <span>Comment</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="messageBoard"> <i class="fa fa-table"></i> <span>Add
								Message</span>
							<div class="clearfix"></div>
					</a></li>


					<li><a href="course"><i class="fa fa-check-square-o nav_icon"></i><span>Course</span>
							<span class="fa fa-angle-right" style="float: right"></span>
						<div class="clearfix"></div></a>
						<ul>
							<li><a href="course">Check</a></li>
							<li><a href="addcourse">Add</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
	<script>
		var toggle = true;

		$(".sidebar-icon").click(
				function() {
					if (toggle) {
						$(".page-container").addClass("sidebar-collapsed")
								.removeClass("sidebar-collapsed-back");
						$("#menu span").css({
							"position" : "absolute"
						});
					} else {
						$(".page-container").removeClass("sidebar-collapsed")
								.addClass("sidebar-collapsed-back");
						setTimeout(function() {
							$("#menu span").css({
								"position" : "relative"
							});
						}, 400);
					}

					toggle = !toggle;
				});
	</script>
	<!--js -->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- /Bootstrap Core JavaScript -->

</body>
</html>