<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/lightbox.css">
<!-- Graph CSS -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- //jQuery -->
<link
	href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400'
	rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
</head>
<body>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="logo-w3-agile">
						<h1>
							<a href="index">Home</a>
						</h1>
					</div>




					<div class="clearfix"></div>
				</div>
				<!--heder end here-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index">Home</a></li>
				</ol>
				<div class="agile3-grids">

					<div class="gallery-grids">
						<div class="col-md-6 gallery-grids-left">
							<div class="gallery-grid">
								<a class="example-image-link" href="images/g1.jpg"
									data-lightbox="example-set"
									data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
									<img src="images/g1.jpg" alt="">
								</a>
							</div>
							<div class="gallery-grids-left-sub">
								<div class="col-md-6 gallery-grids-left-subl">
									<div class="gallery-grid">
										<a class="example-image-link" href="images/g2.jpg"
											data-lightbox="example-set"
											data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
											<img src="images/g2.jpg" alt="">
										</a>
									</div>
									<div class="gallery-grid gallery-grid-sub">
										<a class="example-image-link" href="images/g3.jpg"
											data-lightbox="example-set"
											data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
											<img src="images/g3.jpg" alt="">
										</a>
									</div>
								</div>
								<div class="col-md-6 gallery-grids-left-subr">
									<div class="gallery-grid">
										<a class="example-image-link" href="images/g4.jpg"
											data-lightbox="example-set"
											data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
											<img src="images/g4.jpg" alt="">
										</a>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 gallery-grids-left">
							<div class="col-md-6 gallery-grids-right">
								<div class="gallery-grid">
									<a class="example-image-link" href="images/g5.jpg"
										data-lightbox="example-set"
										data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
										<img src="images/g5.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="col-md-6 gallery-grids-right">
								<div class="gallery-grid">
									<a class="example-image-link" href="images/g6.jpg"
										data-lightbox="example-set"
										data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
										<img src="images/g6.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="gallery-grids-right1">
								<div class="gallery-grid">
									<a class="example-image-link" href="images/g7.jpg"
										data-lightbox="example-set"
										data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
										<img src="images/g7.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="col-md-6 gallery-grids-right">
								<div class="gallery-grid">
									<a class="example-image-link" href="images/g8.jpg"
										data-lightbox="example-set"
										data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
										<img src="images/g8.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="col-md-6 gallery-grids-right">
								<div class="gallery-grid">
									<a class="example-image-link" href="images/g9.jpg"
										data-lightbox="example-set"
										data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
										<img src="images/g9.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
						<script src="js/lightbox-plus-jquery.min.js">
							
						</script>
					</div>

				</div>
				<!-- script-for sticky-nav -->
				<script>
					$(document).ready(function() {
						var navoffeset = $(".header-main").offset().top;
						$(window).scroll(function() {
							var scrollpos = $(window).scrollTop();
							if (scrollpos >= navoffeset) {
								$(".header-main").addClass("fixed");
							} else {
								$(".header-main").removeClass("fixed");
							}
						});

					});
				</script>
				<!-- /script-for sticky-nav -->
				<!--inner block start here-->
				<div class="inner-block"></div>
				<!--inner block end here-->

			</div>
		</div>
		<!--//content-inner-->
		<!--/sidebar-menu-->
		<div class="sidebar-menu">
			<header class="logo1">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
				</a>
			</header>
			<div style="border-top: 1px ridge rgba(255, 255, 255, 0.15)"></div>
			<div class="menu">
				<ul id="menu">

					<li><a href="index"> <i class="fa fa-picture-o"
							aria-hidden="true"> </i> <span>Home</span>
							<div class="clearfix"></div>
					</a></li>




					<li><a href="list"> <i class="fa fa-table"></i> <span>Users</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="teacher"> <i class="fa fa-table"></i> <span>Teachers</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="listAll"> <i class="fa fa-table"></i> <span>Comment</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="messageBoard"> <i class="fa fa-table"></i> <span>Add
								Message</span>
							<div class="clearfix"></div>
					</a></li>

					<li><a href="course"><i
							class="fa fa-check-square-o nav_icon"></i><span>Course</span> <span
							class="fa fa-angle-right" style="float: right"></span>
							<div class="clearfix"></div></a>
						<ul>
							<li><a href="course">Check</a></li>
							<li><a href="addcourse">Add</a></li>
						</ul></li>

				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<script>
		var toggle = true;

		$(".sidebar-icon").click(
				function() {
					if (toggle) {
						$(".page-container").addClass("sidebar-collapsed")
								.removeClass("sidebar-collapsed-back");
						$("#menu span").css({
							"position" : "absolute"
						});
					} else {
						$(".page-container").removeClass("sidebar-collapsed")
								.addClass("sidebar-collapsed-back");
						setTimeout(function() {
							$("#menu span").css({
								"position" : "relative"
							});
						}, 400);
					}

					toggle = !toggle;
				});
	</script>
	<!--js -->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- /Bootstrap Core JavaScript -->

</body>
</html>